# Описание датасета

![](https://storage.googleapis.com/kaggle-datasets-images/2766607/4779921/a6199db8893c599129662fe135b22a06/dataset-cover.jpeg?t=2022-12-28-03-16-10)
<br>Представлен датасет с информацией об игроках чемпионатов FIFA с 1930 по 2018 гг. (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/basharalkuwaiti/fifa-world-cup)).

**Формат файла** : *json*

**Ссылка на файл** : https://drive.google.com/file/d/1wSMgYdIsPARpYFNI18bUzrdF4jXjgr9I/view?usp=share_link

# Задание. Работа с json и вложенными структурами

In [116]:
# импортируйте библиотеку pandas
import pandas as pd

In [117]:
# прочитайте датасет и сохраните его в переменную df
df = pd.read_json("teamPlayers.json")

In [118]:
# проведите визуальный обзор датасета
df.head()

,idCompetition,idTeam,teamName,playerId
0,0,43911,Mexico,"{'playerId': '46750', 'name': 'Oscar BONFIGLIO..."
1,0,43911,Mexico,"{'playerId': '50387', 'name': 'Rafael GARZA', ..."
2,0,43911,Mexico,"{'playerId': '57131', 'name': 'Manuel ROSAS', ..."
3,0,43911,Mexico,"{'playerId': '45536', 'name': 'Efrain AMEZCUA'..."
4,0,43911,Mexico,"{'playerId': '57129', 'name': 'Felipe ROSAS', ..."

In [119]:
# создайте копию датафрейма, сохранив его в переменную df1
df1 = df.copy()

In [120]:
# изучите структуру данных по одному из значений признака 'playerId'
df1['playerId'][0]

{'playerId': '46750',
 'name': 'Oscar BONFIGLIO',
 'shirtNumber': None,
 'captain': False,
 'position': 0}

In [121]:
# распакуйте значения по ключу 'name' в столбец с полным именем и в столбец, содержащий только фамилии футболистов
def player_name(data):
    return data["name"].split()[0]

def player_surname(data):
    temp = data["name"].split()
    if len(temp) < 2:
        return pd.NA
    return temp[1]

In [122]:
df1['player_name'] = df1["playerId"].apply(player_name)

In [123]:
df1['player_surname'] = df1["playerId"].apply(player_surname)

In [124]:
# распакуйте значения по ключам 'captain', 'position' в отдельные столбцы
def player_captain(data):
  return data["captain"]

def player_position(data):
  return data["position"]

In [125]:
df1['player_captain'] = df1["playerId"].apply(player_captain)

In [126]:
df1['player_position'] = df1["playerId"].apply(player_position)

In [127]:
# проведите визуальный обзор датасета
df1.head()

,idCompetition,idTeam,teamName,playerId,player_name,player_surname,player_captain,player_position
0,0,43911,Mexico,"{'playerId': '46750', 'name': 'Oscar BONFIGLIO...",Oscar,BONFIGLIO,False,0
1,0,43911,Mexico,"{'playerId': '50387', 'name': 'Rafael GARZA', ...",Rafael,GARZA,True,1
2,0,43911,Mexico,"{'playerId': '57131', 'name': 'Manuel ROSAS', ...",Manuel,ROSAS,False,1
3,0,43911,Mexico,"{'playerId': '45536', 'name': 'Efrain AMEZCUA'...",Efrain,AMEZCUA,False,2
4,0,43911,Mexico,"{'playerId': '57129', 'name': 'Felipe ROSAS', ...",Felipe,ROSAS,False,2

In [128]:
# переименуйте столбец 'playerId' в 'player_info'
# (автоматически перезапишите датафрейм)
df1.rename(columns={"playerId": "player_info"}, inplace=True)

In [129]:
# определите, сколько раз встречается фамилия GOLOVIN по признаку player_surname
df1[df1["player_surname"] == "GOLOVIN"].shape[0]

3

In [130]:
# выведите все записи по футболисту с фамилией GOLOVIN
df1[df1['player_surname'] == "GOLOVIN"]

,idCompetition,idTeam,teamName,player_info,player_name,player_surname,player_captain,player_position
9702,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN,False,2
10558,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN,False,4
10775,20,43965,Russia,"{'playerId': '371639', 'name': 'Aleksandr GOLO...",Aleksandr,GOLOVIN,False,3

In [131]:
# исключите футболиста с фамилией GOLOVIN из датафрейма по номерам индексов
# (автоматически перезапишите датафрейм)
df1.drop(index=[9702, 10558, 10775], inplace=True)

In [139]:
# определите, сколько осталось записей после исключения футболиста с фамилией GOLOVIN
df1.shape[0]

10777

In [143]:
# запишите полученный датафрейм в формат json и сохраните его в переменную df2
df2 = df1.to_json()

In [145]:
# определите тип данных переменной df2
type(df2)

str

In [147]:
# импортируйте модуль json
import json

In [149]:
# прочитайте переменную df2 с помощью методов модуля json и сохраните данные в переменную df3
df3 = json.loads(df2)

In [163]:
# определите фамилию футболиста по ключу '10700'
print(df3["player_surname"]["10700"])

HAZARD