Написать функцию analyze_dataframe(), которая принимает аргумент датафрейм и выводит основные характеристики для ознакомления с датафреймом:

    Первые несколько строк DataFrame
    Типы данных в каждом столбце
    Количество пропущенных значений в каждом столбце
    Количество дубликатов в DataFrame
    Общую информацию о DataFrame и др.

Для дальнейшего использования функцию необходимо записать в отдельный файл формата .py

In [32]:
import pandas as pd
from IPython.display import display, HTML

df_temp = pd.read_csv("olist_customers_dataset.csv")

def analyze_dataframe(df):
    display(HTML("<strong>Первые несколько строк DataFrame</strong>"))
    display(df.head())
    print("-" * 160)

    display(HTML("<strong>Типы данных в каждом столбце</strong>"))
    display(df.dtypes)
    print("-" * 160)

    display(HTML("<strong>Количество пропущенных значений в каждом столбце</strong>"))
    display(df.isna().sum())
    print("-" * 160)

    display(HTML("<strong>Количество дубликатов в DataFrame</strong>"))
    display(df.duplicated().sum())
    print("-" * 160)

    display(HTML("<strong>Общая информацию о DataFrame</strong>"))
    display(df.info())
    print("-" * 160)

analyze_dataframe(df_temp)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

----------------------------------------------------------------------------------------------------------------------------------------------------------------

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

----------------------------------------------------------------------------------------------------------------------------------------------------------------

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

----------------------------------------------------------------------------------------------------------------------------------------------------------------

0

----------------------------------------------------------------------------------------------------------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

----------------------------------------------------------------------------------------------------------------------------------------------------------------