# Описание датасета

![](https://storage.googleapis.com/kaggle-datasets-images/1617785/2659800/c06a7a3de61a874af446f350118ca9ca/dataset-cover.jpg?t=2021-09-28-18-06-09)
<br>Представлен датасет с данными об игроках режима «Карьера» компьютерной игры FIFA 2022 (датасет выложен на платформе [Kaggle](https://www.kaggle.com/datasets/stefanoleone992/fifa-22-complete-player-dataset)).

**Формат файла** : *csv*

**Ссылка на файл** : https://drive.google.com/file/d/1TO3ZFteyoxQ1GQYrs9Y3hDSdhxXDpx1u/view?usp=share_link

# Обзор датасета. Библиотека Pandas

In [664]:
# импортируйте библиотеку pandas
import pandas as pd

In [665]:
# прочитайте датасет и сохраните его в переменную 
df = pd.read_csv("players.csv", low_memory=False)

In [666]:
# проведите визуальный обзор датасета
df.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [667]:
# определите количество ячеек в датафрейме (строки X столбцы)
df.size

2116290

In [668]:
# определите количество наблюдений в датафрейме
df.shape[0]

19239

In [669]:
# определите количество признаков в датафрейме
df.shape[1]

110

In [670]:
# определите тип данных по признаку 'wage_eur'
df['wage_eur'].dtype

dtype('float64')

# Исключение признаков, работа с дубликатами

In [672]:
# создайте копию датафрейма, сохранив его в переменную df1
df1 = df.copy()

In [673]:
# список столбцов, которые необходимо исключить
columns = ['club_position',
 'club_jersey_number',
 'club_loaned_from',
 'club_joined',
 'club_contract_valid_until',
 'nationality_id',
 'nationality_name',
 'nation_team_id',
 'nation_position',
 'nation_jersey_number',
 'preferred_foot',
 'weak_foot',
 'skill_moves',
 'international_reputation',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'player_traits',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking_awareness',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'goalkeeping_speed',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb',
 'gk',
 'player_face_url',
 'club_logo_url',
 'club_flag_url',
 'nation_logo_url',
 'nation_flag_url']

In [674]:
# исключите столбцы списка columns из датафрейма, автоматически перезаписав его
df1.drop(columns=columns, inplace=True)

In [675]:
# определите количество признаков в датафрейме
df1.shape[1]

17

In [676]:
# определите количество "полных" дубликатов
# (именно повторно встречающихся записей, первые записи не помечаются)
df1.duplicated().sum()

0

In [677]:
# определите количество дубликатов по признакам 'short_name' и 'age' (при условии совпадения значений по обоим признакам)
# (именно повторно встречающихся записей, первые записи не помечаются)
df1.duplicated(subset=["short_name", "age"]).sum()

95

In [678]:
# исключите все записи, по которым совпадают значения по признакам 'long_name' и 'club_name'
# (автоматически перезапишите датафрейм)
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
df1.drop_duplicates(subset=["long_name", "club_name"], inplace=True, keep=False)

In [679]:
# определите количество записей после исключения дубликатов
df1.shape[0]

19233

# Работа с пропусками

In [681]:
# определите, по каким признакам присутствуют пропущенные значения
missing_columns = df1.isna().any()
missing_columns[missing_columns].index.tolist()

['value_eur',
 'wage_eur',
 'club_team_id',
 'club_name',
 'league_name',
 'league_level']

In [682]:
# определите процент пропусков по признаку 'value_eur'
df1['value_eur'].isnull().mean() * 100

0.3847553683772682

In [683]:
# определите количество заполненных значений по признаку 'league_name'
df1['league_name'].notna().sum()

19172

In [684]:
# исключите все записи, по которым отсутствуют значения по признаку 'club_name'
# (автоматически перезапишите датафрейм)
df1.drop(index=df1["club_name"].isna()[df1["club_name"].isna()].index.tolist(), inplace=True)

In [685]:
# определите количество пропущенных значений по признаку 'value_eur'
df1["value_eur"].isna().sum()

13

In [686]:
# найдите среднее значение по признаку 'value_eur'
mean = df1["value_eur"].mean()
print(mean)

2850611.9317292133

In [687]:
# заполните средним значением отсутствующие значения по признаку 'value_eur'
# (автоматически перезапишите датафрейм)
df1['value_eur'] = df1["value_eur"].fillna(value=mean)

In [688]:
# сбросьте индексы после всех преобразований
# (автоматически перезапишите датафрейм)
df1.reset_index(inplace=True)

In [689]:
# проверьте диапазон индексов
df1.index

RangeIndex(start=0, stop=19172, step=1)

# Преобразование данных

In [691]:
# определите формат данных признака 'dob'
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19172 entries, 0 to 19171
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             19172 non-null  int64
 1   sofifa_id         19172 non-null  int64
 2   player_url        19172 non-null  object
 3   short_name        19172 non-null  object
 4   long_name         19172 non-null  object
 5   player_positions  19172 non-null  object
 6   overall           19172 non-null  int64
 7   potential         19172 non-null  int64
 8   value_eur         19172 non-null  float64
 9   wage_eur          19172 non-null  float64
 10  age               19172 non-null  int64
 11  dob               19172 non-null  object
 12  height_cm         19172 non-null  int64
 13  weight_kg         19172 non-null  int64
 14  club_team_id      19172 non-null  float64
 15  club_name         19172 non-null  object
 16  league_name       19172 non-null  object
 17  league_level      19172 non-null  float64
dtypes: float64(4), int64(7), object(7)
memory usage: 2.6+ MB

In [692]:
# переведите значения признака 'dob' в формат datetime
df1['dob'] = pd.to_datetime(df1["dob"], format="%Y-%m-%d")

In [693]:
# отобразите даты в формате ДД.ММ.ГГГГ
df1['dob'] = df1["dob"].dt.strftime("%d.%m.%Y")

In [694]:
# определите формат данных признака 'overall'
df1['overall'].dtype

dtype('int64')

In [695]:
# переведите значения признака 'overall' в формат числа с плавающей точкой
df1['overall'] = df1["overall"].astype(float)

In [696]:
# определите формат данных признака 'value_eur'
df1['value_eur'].dtype

dtype('float64')

In [697]:
# переведите значения признака 'value_eur' в формат целого числа
df1['value_eur'] = df1["value_eur"].astype(int)

# Расчёт доп. признаков

In [699]:
# рассчитайте актуальный возраст на текущий год (без учета дня и месяца рождения) и сохраните данные в столбец 'age_new'
df1["age_new"] = pd.to_datetime("today").year - pd.to_datetime(df1["dob"], format="%d.%m.%Y").dt.year

In [700]:
# определите разницу в возрасте (количество лет) между футболистами под индексом 0 и 10017
df1.loc[0, "age_new"] - df1.loc[10017, "age_new"]

5

In [701]:
# определите индекс массы тела футболистов, округлив результат до двух знаков после запятой
# запишите результаты в столбец 'imt'
# ИМТ = вес (в килограммах) : (рост (м))**2
# вес - 'weight_kg', рост - 'height_cm'
df1['imt'] = round(df1["weight_kg"] / ((df1["height_cm"] / 100) ** 2), 2)

In [702]:
# определите среднее значение ИМТ с помощью метода mean(), округлив результат до двух знаков после запятой
round(df1['imt'].mean(), 2)

22.77

In [703]:
# закодируйте значения по признаку 'player_positions' по условию:
# если указано одно значение, то присвоить 0, в противном случае - 1
# результаты сохраните в столбец 'player_positions_code'
# подсказка: количество значений можно определить как длину списка, определенного с помощью метода split()
df1['player_positions_code'] = df1["player_positions"].apply(lambda x: 0 if len(x.split(", ")) == 1 else 1)

In [704]:
# определите наиболее часто встречаемое значение по признаку 'player_positions_code'
# подсказка: используйте метод mode()
df1['player_positions_code'].mode()

0    1
Name: player_positions_code, dtype: int64

In [705]:
# закодируйте значения по признаку 'player_positions_code' с помощью словаря:
# 0: one, 1: several
# результаты сохраните в столбец 'player_positions_category'
player_positions_dict = {0: "one", 1: "several"}
df1['player_positions_category'] = df1["player_positions_code"].map(player_positions_dict)

In [706]:
# определите количество значений several по признаку 'player_positions_category'
# подсказка: для вывода булевых значений используйте оператор сравнения
# подсказка: для расчета количества используйте метод sum()
(df1["player_positions_category"] == "several").sum()

9776

# Форматирование текстовых данных

In [708]:
# определите количество уникальных значений по признаку 'league_name'
df1["league_name"].nunique()

55

In [709]:
# приведите строковые значения признака 'league_name' в нижний регистр
df1['league_name'] = df1["league_name"].str.lower()

In [710]:
# определите, сколько раз встречается подстрока 'russia' в строковых данных признака 'league_name'
df1['league_name'].str.contains("russia").sum()

82

In [711]:
# заполните все пустые значения по признаку 'league_name' значением 'не указано'
df1["league_name"].fillna(value="не указано", inplace=True)

In [712]:
# замените значения 'не указано' по признаку 'league_name' на значение 'undefined'
df1['league_name'] = df1["league_name"].replace("не указано", "undefined")

In [713]:
# определите, сколько раз встречается подстрока 'undefined' в строковых данных признака 'league_name'
(df1['league_name'] == "undefined").sum()

0

In [714]:
# разделите строки по признаку 'player_positions' на список подстрок
def func(x):
    return x.split(", ")
df1['player_positions'] = df1["player_positions"].map(func)

In [716]:
# трансформируйте датафрейм по признаку 'player_positions' и сохраните его в переменную df2
df2 = df1["player_positions"].copy()

In [718]:
# определите количество наблюдений в датафрейме df2
df2.shape[0]

19172

In [722]:
# сохраните датафрейм df1 в формат xlsx без учета индексного столбца
df1.to_excel("players_new.xlsx")

In [727]:
df2.to_csv("players_positions.csv")

In [752]:
df1["league_name"].nunique()

55